@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', sans-serif;
}
.start
{
    background-color: #000ffa;
    padding: 20px 25px;
    transition: all .5s ease;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}
.start:hover
{
    padding: 20px 30px;
    border-radius: 20px;
}
.container
    {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.quiz-cont
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: auto;
    width: 60%;
    box-shadow:-1px 1px 13px 0px #ded8d8;
    transition: all .5s ease-in-out;
}
.qsec
{
    padding: 10px;
    
}
.qsec h4
{
    font-size: 25px;
    text-transform: capitalize;
}
.asec
{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
    /* background: red; */
    width: 100%;
    height: 25vh;
}
.option
{
    height: 20%;
    width: 45%;
    margin: 10px 5px;
    /* background-color: green; */
    display: flex;
    border: 2px solid #000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.right
{
    background-color: green;
    color: #fff;
    border: none;
}
.wrong
{
    background-color: rgb(216, 23, 10);
    color: #fff;
    border: none;
}
.quiz_header
{
    background-color: #000ffa;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 40px;
    color: #fff;
    border-radius: 20px 20px 0 0;
}
#score,.question_count
{
    display: flex;
    flex-direction: row;
    color: #fff;
}
@media screen and (max-width:770px) {
    .quiz-cont
{
    padding: 35px 10px;
    height: 50%;
    width: 90%;

}
.quiz_header
{
    width: 90%;
}
.option
{
    height: 20%;
    width: 45%;
    margin: 10px 5px;
}
    
}